*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

table{
    border-collapse: collapse;
}

li{
    display: inline;
    margin-right: 10px;
}

ul{
    background-color: grey;
    padding: 10px;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: 1000;
}